*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
  background: rgb(27, 27, 27);
}

.page {
  width: 100%;
  margin-top: 50px;
  height: calc(100vh - 50px);
  display: flex;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.navBar {
  height: 50px;
  width: 100%;
  color: white;
  background: rgb(32, 92, 116);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

.navLeft {
  font-size: 1.1rem;
  margin-left: 20px;
  cursor: pointer;
}

.navCentre {
  font-size: 1.2rem;
}

.navRight {
  font-size: 1.1rem;
  margin-right: 20px;
  cursor: pointer;
}

.sideBar {
  width: 300px;
  background: rgb(0, 0, 0);
  height: 100%;
  overflow-y: scroll;
  z-index: 2;
  position: relative;
  animation: fadein 2s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.addToDo {
  display: flex;
  width: calc(100% - 300px);
  justify-content: center;
  align-items: center;
}

.toDoForm {
  display: flex;
  align-items: center;
  opacity: 0;
  animation: fadein 2s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.toDoInput {
  margin-right: 1rem;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: 0.25rem;
  outline: none;
  background: none;
  font-size: 2rem;
  color: white;
}

.toDoInput::placeholder {
  color: rgb(228, 228, 228);
}

.addToDoButton {
  color: white;
  background: chocolate;
  border: none;
  font-size: 1.2rem;
}

.taskTypeContainer {
  background: #36454f;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  width: 300px;
}

.taskType {
  cursor: pointer;
  color: rgb(194, 194, 194);
  transition: color 0.2s ease-in-out;
  font-size: 1.1rem;
}

.taskType:hover {
  color: white;
}

.taskList {
  margin-top: 3.25rem;
  list-style: none;
  padding: 0;
}

.taskListItem {
  background: #1f2122;
  color: white;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  border-bottom: 1px solid rgb(90, 90, 90);
}

@media (max-width: 1000px) {
  .sideBar {
    width: 30%;
  }
  .taskTypeContainer {
    width: 30%;
  }
  .addToDo {
    width: 70%;
  }
}

@media (max-width: 825px) {
  .page {
    flex-direction: column-reverse;
  }
  .addToDo {
    width: 100%;
    height: 20%;
  }
  .sideBar {
    width: 100%;
    height: 80%;
  }
  .taskTypeContainer {
    width: 100%;
  }
}

@keyframes fadein {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}