@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
  user-select: none;
}

.page {
  width: 100%;
  margin-top: 50px;
  height: calc(100vh - 50px);
  display: flex;
  transition: all 0.2s ease-in-out;
}

.darkPage {
  background: rgb(34, 34, 34);
}

.lightPage {
  background: rgb(100, 100, 100);
}

.signInPage {
  background: rgb(122, 199, 157);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInTitle {
  font-family: 'Comfortaa', cursive;
  font-size: 5rem;
  margin-bottom: 2rem;
  color: rgb(54, 54, 54);
}

.userForm {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 0.5rem;
}

.signInButton {
  color: white;
  background: rgb(54, 54, 54);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  transition: all 0.2s ease-in-out;
}

.signInButton:hover {
  background: rgb(77, 77, 77);
}

.usernameInput {
  margin-bottom: 2rem;
  border: 1px solid rgb(221, 221, 221);
  outline: none;
  padding: 1rem;
  background: white;
  color: rgb(54, 54, 54);
  font-size: 1.1rem;
  border-radius: 0.5rem;
}


::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.navBar {
  height: 50px;
  width: 100%;
  color: rgb(54, 54, 54);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  transition: all 0.2s ease-in-out;
}

.darkTheme {
  background: rgb(122, 199, 157);
}

.lightTheme {
  background: rgb(114, 175, 204);
}

.darkThemeButton {
  background: rgb(122, 199, 157);
}

.lightThemeButton {
  background: rgb(114, 175, 204);
}

.darkThemeButton:hover {
  background: rgb(146, 216, 177);
}

.lightThemeButton:hover {
  background: rgb(132, 202, 235);
}

.navLeft {
  font-size: 1rem;
  margin-left: 20px;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
}

.navCentre {
  font-size: 1.2rem;
  font-family: 'Comfortaa', cursive;
}

.navRight {
  font-size: 1rem;
  margin-right: 20px;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
}

.sideBar {
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  z-index: 2;
  position: relative;
  animation: fadein 2s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.darkSideBar {
  background: rgb(24, 24, 24);
}

.lightSideBar {
  background: rgb(82, 82, 82);
}

.addToDo {
  display: flex;
  width: calc(100% - 300px);
  justify-content: center;
  align-items: center;
}

.toDoForm {
  display: flex;
  align-items: center;
  opacity: 0;
  animation: fadein 2s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.toDoInput {
  margin-right: 1rem;
  border: none;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding-bottom: 0.25rem;
  outline: none;
  background: none;
  width: 275px;
  font-size: 2rem;
  color: white;
}

.toDoInput::placeholder {
  color: rgb(194, 194, 194);
}

.addToDoButton {
  color: rgb(54, 54, 54);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  transition: all 0.2s ease-in-out;
}

.taskTypeContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  width: 300px;
  z-index: 3;
  transition: all 0.2s ease-in-out;
  
}

.darkTaskTypeContainer {
  background: rgb(17, 17, 17);
  border-bottom: 1px solid rgb(34, 34, 34);
}

.lightTaskTypeContainer {
  background: rgb(70, 70, 70);
  border-bottom: 1px solid rgb(100, 100, 100);
}

.taskType {
  cursor: pointer;
  color: rgb(194, 194, 194);
  transition: color 0.2s ease-in-out;
  font-family: 'Comfortaa', cursive;
}

.taskType:hover {
  color: white;
}

.taskList {
  margin-top: 3.25rem;
  list-style: none;
  padding: 0;
  width: 100%;
}

.taskListItem {
  color: white;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.darkTaskListItem {
  border-bottom: 1px solid rgb(34, 34, 34);
}

.lightTaskListItem {
  border-bottom: 1px solid rgb(100, 100, 100);
}

.darkTaskListItem:hover {
  background: rgb(63, 63, 63);
}

.lightTaskListItem:hover {
  background: rgb(122, 122, 122);
}

.taskDesc {
  width: 90%;
}

.taskStatus {
  width: 10px;
  height: 10px;
  background: #e0e77c;
  border-radius: 50%;
}

.emptyTaskList {
  color: rgb(194, 194, 194);
  margin-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.emptyTaskListItem {
  font-family: 'Comfortaa', cursive;
  margin-bottom: 1rem;
}

.settings {
  padding: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}

.darkSettings {
  background: rgba(100, 100, 100, 0.8);
}

.lightSettings {
  background: rgba(34, 34, 34, 0.8);
}

.settingsInput {
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding-bottom: 0.25rem;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: white;
}

.settingsButton {
  color: rgb(54, 54, 54);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1000px) {
  .sideBar {
    width: 30%;
  }
  .taskTypeContainer {
    width: 30%;
  }
  .addToDo {
    width: 70%;
  }
}

@media (max-width: 825px) {
  .page {
    flex-direction: column-reverse;
  }
  .addToDo {
    width: 100%;
    height: 20%;
  }
  .sideBar {
    width: 100%;
    height: 80%;
  }
  .taskTypeContainer {
    width: 100%;
  }
}

@keyframes fadein {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}